@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans+Khmer:wght@100..900&family=Signika+Negative:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
	background-color: rgb(12, 105, 12);
	overflow: hidden;
}

.container {
	width: 100%;
	box-sizing: border-box;
	/* border: 1px solid white; */
	color: white;
	padding: 10px;
	margin: 15% 0 0 10%;
	position: absolute;
}

.container .title h1 {
	font-family: "Noto Sans Khmer", sans-serif;
	font-size: 80px;
}

.container h1 {
	margin-top: -50px;
	font-family: "DM Sans", sans-serif;
}

.container .imageContainer img {
	transform: scale(1.5, 1.5);
	float: right;
	margin: -8.5% 20% 0 0;
}

.container button {
	width: 34%;
	font-size: 17px;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: 2px solid rgb(9, 149, 9);
	background-color: rgb(28, 87, 28);
	color: white;
	font-family: "Noto Sans KR", sans-serif;
	transition: 0.3s;
}

.container button:hover {
	cursor: pointer;
	background-color: rgb(30, 117, 30);
	border: 2px solid lime;
	transition: 0.3s;
}

.container .subjectSelect {
	padding: 10px;
}

.homepage {
	color: #f4f3f3;
	font-size: 24px;
}

body {
	color: rgb(164, 151, 151);
}

.navbar {
	display: flex;
	background-color: #333;
	padding: 1rem;
	justify-content: center;
}

/* Styling for each nav item */
.nav-item {
	color: white; /* Light text color for contrast */
	text-decoration: none; /* Remove underline from links */
	margin: 0 1rem; /* Space out the nav items */
	font-size: 1.2rem; /* Slightly larger font size */
}

/* Change color on hover for visual feedback */
.nav-item:hover {
	color: #ddd;
}

.homework-helper-text {
	color: #f4f3f3;
	font-size: 24px;
}

.about {
	color: #f4f3f3;
	font-size: 24px;
}
.homepage {
	color: #f4f3f3;
	font-size: 24px;
}

.navbar {
	display: flex;
	background-color: #333;
	padding: 1rem;
	justify-content: center;
}

/* Styling for each nav item */
.nav-item {
	color: white; /* Light text color for contrast */
	text-decoration: none; /* Remove underline from links */
	margin: 0 1rem; /* Space out the nav items */
	font-size: 1.2rem; /* Slightly larger font size */
}

/* Change color on hover for visual feedback */
.nav-item:hover {
	color: #ddd;
}

.homework-helper-text {
	color: #f4f3f3;
	font-size: 24px;
}

.about {
	color: #f4f3f3;
	font-size: 24px;
}
