@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.questionCard {
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px auto;
	max-width: 600px;
	background-color: #127112;
	color: white;
	border: 3px solid darkgreen;
}

.questionCard h3 {
	font-family: "Inter", sans-serif;
	text-align: center;
	margin-top: -10px;
}

.questionHeader {
	font-size: 24px;
	margin-bottom: 20px;
}

.multipleChoiceDiv {
	margin-bottom: 10px;
}

.multipleChoiceLabel {
	cursor: pointer;
	display: block;
}

.multipleChoice {
	margin-right: 10px;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

.sumbitButton {
	background-color: #044604;
	color: white;
	border: 2px solid darkgreen;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
}

.sumbitButton:hover {
	background-color: #026a02;
}

.rationale {
	margin-top: 20px;
}
